.carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
    height: calc(100vw / 2.5);
    padding: 10px 0;
}

.carousel .arrow {
    margin: 5px 0;
    width: 36px;
    height: 14px;
    transform: rotate(90deg);
    cursor: pointer;
}

.carousel .arrow.left {
    transform: rotate(270deg);
}

.carousel .arrow span,
.carousel .arrow span::before {
    content: '';
    display: block;
    position: relative;
    top: 6px;
    left: 0;
    width: 20px;
    height: 2px;
    background: #666;
    border-radius: 1px;
    transform: rotate(-30deg);
}

.carousel .arrow span::before {
    height: 2.75px;
    top: 7.9px;
    left: 13.5px;
    transform: rotate(59deg);
    background: #666;
}

.carousel .content {
    margin: 0;
    width: calc(100% - 48px);
    min-height: 180px;
    height: 100%;
    max-height: max-content;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    scroll-behavior: smooth;
    border: #333 solid 1px;
    border-radius: 5px;
}

.carousel .content article {
    width: 100%;
    flex-shrink: 0;
}
