main { height: 32em; }

.carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 720px;
    height: 480px;
    margin: 5px;
    border: 1px solid #222;
    border-radius: 5px;
    overflow: hidden;
}


.arrow-box {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.arrow {
    display: block;
    cursor: pointer;
    width: 20px;
    height: 34px;
    transition: all 250ms;
    z-index: 3;
}

.arrow.left {transform: rotate(.5turn)}

.arrow:hover {transform: scale(120%)}
.arrow.left:hover {transform: rotate(.5turn) scale(120%)}

.arrow span, .arrow span::after {
    position: relative;
    top: 8px;
    display: block;
    width: 20px;
    height: 2px;
    background: #333;
    border-radius: 2px;
    transform: rotate(60deg);
    cursor: pointer;
}

.arrow span::after {
    content: '';
    left: calc(50% + 4px);
}

.container, .container .content {
    flex: 100%;
    width: 100%;
    height: 100%;
}

.container .content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: calc(100% + 40px);
   right: 20px;
}

.container .index {
    display: inline-flex;
    position: relative;
    bottom: 24px;
    height: 14px;
    width: 100%;
    justify-content: center;
    z-index: 2;
}

.container .index span {
    display: block;
    width: 10px;
    height: 10px;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin: 0 2px;
}

.container .index span.filled {background: var(--primary-color)}
