/* .carousel.carouselController {
    width: 100%; height: 100%; background: #f00; display: flex; flex-direction: row;
}

.carousel.carouselController .carouselController.arrow {
    margin: 5px 0; width: 36px; height: 14px; transform: rotate(90deg); cursor: pointer; flex: 1;
}

.carousel.carouselController .carouselController.arrow.left {transform: rotate(270deg)}

.carousel.carouselController .carouselController.arrow span,
.carousel.carouselController .carouselController.arrow span::before {
    content: ''; display: block; position: relative; top: 6px; left: 0; width: 20px; height: 2px; background: #666; border-radius: 1px; transform: rotate(-30deg);}

.carousel.carouselController .carouselController.arrow span::before {
    height: 2.75px; top: 7.9px; left: 13.5px; transform: rotate(59deg); background: #666;
}
.carousel.carouselController .carousel-body {flex: 2;} */

.arrow {
    display: block;
    background: #f00;
    cursor: pointer;
    width: 30px;
    height: 18px;
}

.arrow span, .arrow span::after {
    display: block;
    width: 20px;
    height: 2px;
    background: #333;
    border-radius: 2px;
}

.arrow span::after {
    content: '';
    transform: rotate(60deg);
    position: relative;
    top: 8px;
    left: calc(50% + 4px);
}
