main { height: 32em; }

.carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 720px;
    height: 480px;
    margin: 5px;
    border: 1px solid #222;
    border-radius: 5px;
}

.carousel, .container { overflow: hidden; }

.arrow-box {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.arrow {
    display: block;
    cursor: pointer;
    width: 20px;
    height: 34px;
    transition: all 250ms;
}

.arrow.left {transform: rotate(.5turn)}

.arrow:hover {transform: scale(120%)}
.arrow.left:hover {transform: rotate(.5turn) scale(120%)}

.arrow span, .arrow span::after {
    position: relative;
    top: 8px;
    display: block;
    width: 20px;
    height: 2px;
    background: #333;
    border-radius: 2px;
    transform: rotate(60deg);
    cursor: pointer;
}

.arrow span::after {
    content: '';
    left: calc(50% + 4px);
}

.container, .container .content {
    flex: 100%;
    background: #0f0;
    width: 100%;
    height: 100%;
}

.container .content {
    background: #00f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.container .index {
    position: relative;
    bottom: 22px;
    height: 12px;
    width: 100%;
    background-color: #f00;
    z-index: 2;
}
