main {
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

main > hr {
    border: none;
    border-top: 1px solid var(--white-3);
    color: var(--white-3);
    width: calc(100% / 3 * 2);
    margin: 3em auto;
}

main section:nth-last-child(1) {
    margin-bottom: 2em;
}

main section:not(.title) { margin-top: 2em }

main section.title {
    display: flex;
    color: var(--primary-color);
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main section.title h1 {
    font-family: 'Poppins-Italic';
    font-weight: 500;
    font-size: 4rem;
    font-synthesis: style;
    color: inherit;
    transition: all .5s;
    cursor: crosshair;
    text-shadow: 15px -10px #00000004,
    7.5px -5px #1a5adc1a;
}

main section.title h1:hover {
    text-shadow: 7.5px -7.5px #25d2;
}

main section.title h1::first-letter {
    font-size: 5rem;
    font-family: 'Poppins-Bold', 'SourceSansPro-Bold', sans-serif;
    font-synthesis: style;
    font-style: normal;
}

main section.title span {
    display: block;
    position: relative;
    min-width: 10em;
    width: calc(100% - 10em);
    height: 3px;
    background: var(--primary-color);
    margin: 10px 0;
    border-radius: 3px;
}

main section.title h3 {
    font-size: .9rem;
    font-family: 'Poppins-Light';
}

/* table of contents */
main section.table-of-content {
    background: var(--white);
    height: 2em;
    width: 80%;
}
/* end table of contents */

/* story */
main section.story {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}

main section.story .title {
    width: 100%;
    justify-content: center;
}

main section.story .title h2 {
    font-size: 1.8rem;
    text-align: center;
}

main section.story .content {
    width: calc(100% - 2em);
    display: inline-block;
    clear: left;
    padding: 1em;
}

main section.story .content picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    border-radius: 10px;
    float: left;
}

main section.story .content picture img {
    height: calc(50vw - 2em);
    /* width: 0.66780797101 */
    max-height: 350px;
    min-height: 50px;
    object-fit: contain;
    border-radius: 10px;
}

main section.story .content p {
    font-family: 'SourceSansPro-Regular';
    margin-bottom: .8em;
}

main section.story .content p a {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid transparent;
    transition: all .4s ease;
}

main section.story .content p a:hover {
    border-bottom: 1px solid var(--primary-color);
}
/* end story */

main section.test {
    background: var(--white);
    overflow: hidden;
}

main section.test .carousel {
    width: 720px;
}

@media (max-width: 740px) {
    main section.test .carousel {
        width: calc(100vw - 20px);
    }
}
