/* basic rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video { box-sizing: inherit; }

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, b {
    font-weight: 500;
    font-family: 'SourceSansPro-Bold';
}

b i {
    font-weight: 500;
    font-family: 'SourceSansPro-BoldItalic';
}

:root {
    /* important colors */
    --primary-color: #25d;
    --secondary-color: #222;
    /* white */
    --white: #fff;
    --white-1: #eee;
    --white-2: #ddd;
    --white-3: #ccc;
    /* grey */
    --grey-1: #bbb;
    --grey-2: #aaa;
    --grey-3: #999;
    --grey-4: #888;
    --grey-5: #777;
    --grey-6: #666;
    --grey-7: #555;
    --grey-8: #444;
    /* black */
    --black-1: #333;
    --black-2: #222;
    --black-3: #111;
    --black: #000;
    /* others */
    --background-theme: var(--white-1);
}

svg:not(:root) { display: block; }

::-webkit-scrollbar {
    background: var(--secondary-color);
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: var(--grey-6);
    border-radius: 6px;
    border: 2px solid var(--secondary-color);
}

::selection {
    background: #888e;
}

input[type="checkbox"] { cursor: pointer; }

h1, h2, h3, h4, h5, p, a, span {
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
/* basic rules end */

/* header */
header {
    background: var(--secondary-color);
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-flow: column nowrap;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

header > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--secondary-color);
}

header .first-part {
    z-index: 13;
}

header .title {
    color: var(--primary-color);
    margin: 20px;
    cursor: pointer;
}

header .title h1 {
    font-family: 'Poppins-Regular';
    cursor: pointer;
    font-weight: 500;
    font-size: 2.5rem;
    font-style: oblique;
    font-synthesis: style;
}

header .title h1::after {
    content: '';
    display: block;
    position: relative;
    top: -5px;
    left: 2.5px;
    width: 32px;
    height: 3px;
    background: var(--primary-color);
    border-radius: 3px;
    transition: all .5s ease;
}

header .title:hover h1::after {
    width: 100%;
}

header .title h1 a {
    text-decoration: none;
    color: inherit;
}

header .title h1 span {
    font-size: 3rem;
    font-family: 'Poppins-Bold', 'SourceSansPro-Bold', sans-serif;
    font-synthesis: style;
    font-style: normal;
}

header .icon-menu {
    margin: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
}

header .icon-menu::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 80px;
    background: #25d2;
    transition: all 250ms ease-out;
}

header .icon-menu:hover::after {
    width: 80px;
    height: 80px;
}

header .icon-menu span,
header .icon-menu span::after,
header .icon-menu span::before {
    content: '';
    display: block;
    width: 35px;
    height: 5px;
    top: 0;
    border-radius: 5px;
    background: var(--primary-color);
    position: relative;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

header .icon-menu span::after { top: -18px }
header .icon-menu span::before { top: 13px }

header .icon-menu.active span { background: transparent }

header .icon-menu.active span::after {
    transform: rotate(45deg);
    top: -6px;
}

header .icon-menu.active span::before {
    transform: rotate(-45deg);
    top: 0px;
}

header .second-part {
    display: block;
    position: relative;
    opacity: 0;
    top: -50px;
    height: 50px;
    z-index: 10;
    background: var(--black-2);
    transition: all .5s ease-in-out;
}

header .second-part.active {
    opacity: 1;
    top: 0;
}

header .second-part ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 0 10px;
}

header .second-part ul > ol {
    margin: 12px;
    font-family: 'SourceSansPro-Regular';
    font-size: 1.1rem;
    color: #2ad;
    user-select: none;
}

header .second-part ul > ol a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

header .second-part ul > ol a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    transition: all .4s ease;
    background: #2ad;
}

header .second-part ul > ol:hover a::after {
    width: 100%;
}
/* header end */

/* main */
main {
    background: var(--background-theme);
    width: calc(100vw - 12px);
}
/* end main */

/* footer */
footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-flow: column nowrap;
    background: var(--secondary-color);
    width: 100%;
    min-height: 100px;
}

footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 10px 0;
}

footer .container > div {
    min-width: 150px;
    min-height: 100px;
    padding: 0 5px 0 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-flow: column nowrap;
    align-items: center;
}

footer .container > div h2 {
    color: var(--white-1);
    width: fit-content;
}

footer .container > div h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #25d5 0%, var(--primary-color) 55%, #25d5 100%);
    margin-bottom: 5px;
}

footer .container > div .content a,
footer .container > div .content li,
footer .container > div .content img {
    user-select: none;
    cursor: pointer;
} 

/* about-us */
footer .container .about-us { width: calc(40% - 10px); }

footer .container .about-us .content p {
    font-family: 'Poppins-Light';
    font-size: 1rem;
    color: var(--white-3);
    margin: 6px 0 12px;
    word-wrap: normal;
    word-break: keep-all;
    word-spacing: 1px;
}

footer .container .about-us .content p .title {
    color: var(--primary-color);
    text-decoration: underline solid var(--primary-color) 1px;
}

footer .container .about-us .content p::first-letter {
    font-family: 'SourceSansPro-Bold';
    font-size: 1.3rem;
    user-select: none;
}

footer .container .about-us .content ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 10px;
}

footer .container .about-us .content ul li {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin: 2px 5px;
}

footer .container .about-us .content ul li:nth-child(1) { margin-left: 0; }

footer .container .about-us .content ul li,
footer .container .about-us .content ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .container .about-us .content ul li a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    background: #111;
    border-radius: 6px;
    transition: all linear 250ms;
}

footer .container .about-us .content ul li:hover a { background: #25da }

footer .container .about-us .content ul li a span {
    display: block;
    position: absolute;
    background: transparent;
    z-index: 0;
    transition: all linear 250ms;
}

/* github */
footer .container .about-us .content ul .github a span {
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
}

footer .container .about-us .content ul .github:hover a span { background: var(--black) }

/* instgram */
footer .container .about-us .content ul .instagram a span {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: #d6249f;
    background: radial-gradient(circle at 40% 100%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    opacity: 0;
}

footer .container .about-us .content ul .instagram:hover a span { opacity: 1 }

/* youtube */
footer .container .about-us .content ul .youtube a span {
    height: 0;
    width: 0;
    border-top: 5.5px solid transparent;
    border-bottom: 5.5px solid transparent;
    border-left: 9px solid transparent;
}

footer .container .about-us .content ul .youtube:hover a span { border-left-color: var(--white) }

footer .container .about-us .content ul .youtube:hover a img {
    filter: invert(50%) sepia(100%) saturate(5500%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

footer .container .about-us .content ul li a img {
    z-index: 1;
    object-fit: contain;
    filter: none;
    transition: all linear 250ms;
}

footer .container .about-us .content ul li:not(.instagram) a img {
    width: 25px;
    height: 25px;
}

footer .container .about-us .content ul li.instagram a img {
    width: 30px;
    height: 30px;
}

/* quick links */
footer .container .quick-links .content ul {
    list-style-type: circle;
    margin: 12px 0 0 10px;
}

footer .container .quick-links .content ul li {
    display: block;
    color: var(--white-3);
    font-family: 'Poppins-Light';
    margin-bottom: 4px;
    width: max-content;
}

footer .container .quick-links .content ul li:hover {
    list-style-type: disc;
}

footer .container .quick-links .content ul li a {
    text-decoration: none;
    color: inherit;
    transition: all linear 300ms;
    text-decoration: underline solid 1px transparent;
    width: 100%;
}

footer .container .quick-links .content ul li:hover a {
    text-decoration: underline solid 1px var(--white-3);
}

/* contact */
footer .container .contact {
    display: block;
    width: fit-content;
}

footer .container .contact .infos {
    position: relative;
    top: 5px;
}

footer .container .contact .infos li {
    display: flex;
    flex-direction: row;
}

footer .container .contact .infos li span:nth-child(1) img {
    width: 32px;
    fill: blue;
    position: relative;
    bottom: 4px;
}

footer .container .contact .infos li span:nth-child(2) a {
    text-decoration: none;
    color: var(--white-1);
    font-family: 'Poppins-Regular';
}

footer .container .contact .infos li span:nth-child(2) a::after {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background: var(--white);
    transition: all .5s ease;
}

footer .container .contact .infos li:hover span:nth-child(2) a::after {
    width: 100%;
}

footer .copyright {
    color: var(--white-1);
    font-family: 'Poppins-Regular';
    margin: 10px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    user-select: none;
}

footer .copyright > a {
    color: #fffc;
    text-decoration: none;
}

footer .copyright > a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #fff0;
    transition: all 750ms ease;
}

footer .copyright a:hover::after {
    width: 100%;
    background: #fffb;
}
/* footer end */

/* media-screen */
@media (max-width: 200px) {
    body {
        background: var(--black);
    }
}
/* media-screen end */
