
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var,b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video { box-sizing: inherit; }

html { box-sizing: border-box; }

h1, h2, h3, h4, b {
    font-weight: 500;
    /* font-family: 'SourceSansPro-Bold'; */
}

b i {
    font-weight: 500;
    /* font-family: 'SourceSansPro-BoldItalic'; */
}

svg:not(:root) { display: block; }

::-webkit-scrollbar {
    background: #222;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 6px;
    border: 2px solid #222;
}

::selection {
    background: #888e;
}

input[type="checkbox"] { cursor: pointer; }

h1, h2, h3, h4, h5, p, span {
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* end default rules */

/* main */
main section {
    width: 500px;
}
/* end main */
