/* basic rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var,b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video { box-sizing: inherit; }

html { box-sizing: border-box; }

h1, h2, h3, h4, h5, b {
    font-weight: 500;
    font-family: 'SourceSansPro-Bold';
}

b i {
    font-weight: 500;
    font-family: 'SourceSansPro-BoldItalic';
}

svg:not(:root) { display: block; }

::-webkit-scrollbar {
    background: #222;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 6px;
    border: 2px solid #222;
}

::selection {
    background: #888e;
}

input[type="checkbox"] { cursor: pointer; }

h1, h2, h3, h4, h5, p, span {
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
/* basic rules end */

/* header */
header {
    background: #111;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-flow: column nowrap;
    align-items: center;
}

header > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header .title {
    color: #25d;
    margin: 20px;
    cursor: pointer;
}

header .title h1 {
    font-family: 'Poppins-Regular';
    cursor: pointer;
    font-weight: 500;
    font-size: 2.5rem;
    font-style: oblique;
    font-synthesis: style;
}

header .title h1::after {
    content: '';
    display: block;
    position: relative;
    left: 2px;
    width: 32px;
    height: 3px;
    background: #25d;
    border-radius: 3px;
    transition: all .5s ease;
}

header .title:hover h1::after {
    width: 100%;
}

header .title h1 a {
    text-decoration: none;
    color: inherit;
}

header .title h1 span {
    font-size: 3rem;
    font-family: 'Poppins-Bold', 'SourceSansPro-Bold', sans-serif;
    font-synthesis: style;
    font-style: normal;
}

header .icon-menu {
    margin: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
}

header .icon-menu::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 80px;
    background: #25d2;
    transition: all .4s ease-out;
}

header .icon-menu:hover::after {
    width: 80px;
    height: 80px;
}

header .icon-menu span,
header .icon-menu span::after,
header .icon-menu span::before {
    content: '';
    display: block;
    width: 40px;
    height: 7px;
    top: 0;
    border-radius: 5px;
    background: #25d;
    position: relative;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

header .icon-menu span::after { top: -21px }
header .icon-menu span::before { top: 14px }

header .icon-menu.active span { background: transparent }

header .icon-menu.active span::after {
    transform: rotate(45deg);
    top: -7px;
}

header .icon-menu.active span::before {
    transform: rotate(-45deg);
    top: 0px;
}

header .second-part {
    display: none;
}
/* header end */

/* main */
main {
    background: #226;
    min-width: 50vw;
    min-height: 50vh;
}
/* end main */